<div class='rounded p-2 px-3 d-flex justify-content-between align-items-center'>
    <div></div>
    <button
        class='btn btn-success'
        data-mdb-toggle='modal'
        data-mdb-target='#createModal'
    >+ Thêm môn học</button>
</div>
<hr class='mt-0' />
{{#if message.error}}
    <div
        class='alert alert-dismissible fade show alert-danger w-50'
        role='alert'
        data-mdb-color='warning'
        id='customxD'
    >
        <i class='fas fa-times-circle me-3'></i>{{message.error}}
        <button
            type='button'
            class='btn-close'
            data-mdb-dismiss='alert'
            aria-label='Close'
        ></button>
    </div>
{{/if}}

{{#if message.success}}
    <div
        class='alert alert-dismissible fade show alert-success w-50'
        role='alert'
        data-mdb-color='warning'
        id='customxD'
    >
        <i class='fas fa-check-circle me-3'></i>{{message.success}}
        <button
            type='button'
            class='btn-close'
            data-mdb-dismiss='alert'
            aria-label='Close'
        ></button>
    </div>
{{/if}}

<div class='row'>
    {{#each courses}}
        <div class='col-5 mb-3' style='height: 250px'>
            <div class='card h-100'>
                <div class='card-body'>
                    <ul
                        class='navbar-nav ms-auto d-flex flex-row justify-content-between align-items-center'
                    >
                        <h5 class='card-title mb-0'><a
                                href='/{{_id}}'
                            >{{name}}</a></h5>
                        <li class='nav-item dropdown'>
                            <a
                                class='nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow'
                                href='#'
                                id='navbarDropdownMenuLink'
                                role='button'
                                data-mdb-toggle='dropdown'
                                aria-expanded='false'
                            >
                                <i
                                    class='fa-solid fa-ellipsis-vertical fa-lg'
                                ></i>
                            </a>
                            <ul
                                class='dropdown-menu dropdown-menu-end'
                                aria-labelledby='navbarDropdownMenuLink'
                            >
                                <li><a class='dropdown-item' href='#'>Chia sẻ</a></li>
                                <li><a
                                        class='dropdown-item'
                                        href='#'
                                        data-mdb-toggle='modal'
                                        data-mdb-target='#editModal'
                                        onclick="$('#edit-id').val('{{_id}}');
                                        $('#name').val('{{name}}');"
                                    >Chỉnh sửa</a></li>
                                <li><a
                                        class='dropdown-item'
                                        href='#'
                                        data-mdb-toggle='modal'
                                        data-mdb-target='#deleteModal'
                                        onclick="$('#delete-id').val('{{_id}}');"
                                    >Xoá</a></li>
                            </ul>
                        </li>
                    </ul>
                    <hr />

                </div>
            </div>
        </div>
    {{/each}}
</div>

<!-- Modal -->
<div
    class='modal fade'
    id='createModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Thêm môn học</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-mdb-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <form method='post' action='/course/create' class='mb-0'>
                <div class='modal-body'>
                    <div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='name'
                            class='form-control'
                            required
                        />
                        <label class='form-label' for='desc'>Tên
                            <span class='text-danger'>*</span></label>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button
                        type='button'
                        class='btn btn-secondary'
                        data-mdb-dismiss='modal'
                    >Đóng</button>
                    <button type='submit' class='btn btn-primary'>Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    class='modal fade'
    id='editModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Chỉnh sửa môn học</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-mdb-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <form method='post' action='/course/update' class='mb-0'>
                <div class='modal-body'>
                    <input type='hidden' name='id' id='edit-id' />
                    <div class='form-outline mb-4'>
                        <input
                            type='text'
                            name='name'
                            id="name"
                            class='form-control'
                            required
                        />
                        <label class='form-label' for='desc'>Tên
                            <span class='text-danger'>*</span></label>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button
                        type='button'
                        class='btn btn-secondary'
                        data-mdb-dismiss='modal'
                    >Đóng</button>
                    <button type='submit' class='btn btn-primary'>Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div
    class='modal fade'
    id='deleteModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xoá môn học</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-mdb-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <form method='post' action='/course/delete' class='mb-0'>
                <div class='modal-body'>
                    <input type='hidden' name='id' id='delete-id' />
                    <p>Bạn có muốn xoá môn học này?</p>
                </div>
                <div class='modal-footer'>
                    <button
                        type='button'
                        class='btn btn-secondary'
                        data-mdb-dismiss='modal'
                    >Đóng</button>
                    <button type='submit' class='btn btn-danger'>Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>